.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    margin-top: auto;
}

.pagination-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 40px;
    text-decoration: none;
    transition: background-color .2s;
    cursor: pointer;
}

.pagination-container a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #7cbddb;
}

.pagination-container a.disabled {
    opacity: 0.2;
}

.pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238);}

.arrow-left {
    fill: #0064EB;
    width: 8px;
    height: 12px;
}

.arrow-right {
    fill: #0064EB;
    width: 8px;
    height: 12px;
    transform: rotate(180deg);
}